<html>

<head>
  <title>Shop</title>
  <link rel="stylesheet" type="text/css" href="/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body class="container">
  <h1>Welcome to our shop<h1>
    <div class="btn-group">
      <a class="btn bnt-default" href="/">Home</a>
      <a class="btn bnt-default" href="/basket">Basket</a>
    </div>
    <%= yield %>
  </body>
  </html>
